@import "tailwindcss";


@theme {
  --color-title: #383838;
  --color-text: #5D5D5D;
  --color-text-secondary: #C2B3A3;
  --color-bege: #D8D1C9;
}

html, body {
  overflow-y: hidden;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

